<?xml version="1.0" encoding="utf-8" ?>
<data>
  <factory>AW</factory>
  <fticket>POSTEKI300</fticket>
  <cartonprinter>POSTEKI300</cartonprinter>
  <aw_totalpallet>45</aw_totalpallet>
  <aw_palletlimit>17</aw_palletlimit>
  <aw_boxbigsize>2</aw_boxbigsize>
  <aw_netweight>1000</aw_netweight>
  <ipaddress>192.168.101.215</ipaddress>
  <dbname>RMW</dbname>
  <user>expsys</user>
  <passwd>expsys</passwd>
  <aw_plprinter>POSTEKI300</aw_plprinter>
  <inj_plprinter>POSTEKI300</inj_plprinter>
  <confirmlotno>true</confirmlotno>
  <editorder>false</editorder>
  <editship>false</editship>
  <pathexecute>\\192.168.101.217\\xpw</pathexecute>
  <reloadgrid>295</reloadgrid>
  <onweek>0</onweek>
  <nextweek>14</nextweek>
  <statusfticket>2</statusfticket>
  <statussendgedi>4</statussendgedi>
  <pathsource>\\192.168.101.150\\Sharefull_SKT\\XPW-CK2\\XPW-Update\\xpw-app</pathsource>
  <pathtemplate>\\192.168.101.150\\Sharefull_SKT\\XPW-CK2\\XPW-Update\\xpw-templates</pathtemplate>
</data>